.table 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	font-weight: bold;
	padding-left: 9px;
	background:#F1F2ED;
	background-color: #33FFFF;
	text-decoration: none;
	border-top-color: #000000;
	border: 1;
}

.tablecolor
{
	background:#666666;
	background-color: #999999;
}

.body
{
	background-image: url(../images/mainbg.jpg);
	leftmargin: 0px;
	topmargin: 0px;
	marginwidth: 0px;
	marginheight: 0px;
	scrollbar-face-color:#C3C5B7;
	scrollbar-arrow-color:brown;
	scrollbar-track-color:#000000;
	scrollbar-shadow-color:#000000;
	scrollbar-highlight-color:#000000;
	scrollbar-3dlight-color:#000000;
	scrollbar-darkshadow-Color:#000000;
	background-color: #000000;
}

.body1
{
	background-image: url(../images/bgbgbg.jpg);
	leftmargin: 0px;
	topmargin: 0px;
	marginwidth: 0px;
	marginheight: 0px;
	scrollbar-face-color:#C3C5B7;
	scrollbar-arrow-color:brown;
	scrollbar-track-color:#000000;
	scrollbar-shadow-color:#000000;
	scrollbar-highlight-color:#000000;
	scrollbar-3dlight-color:#000000;
	scrollbar-darkshadow-Color:#000000;
	background-color: #3399FF;
}


.login
{
background-image: url(../images/logbg.jpg);
leftmargin: 0px;
topmargin: 0px;
marginwidth: 0px;
marginheight: 0px;
}




.inputbox 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	letter-spacing: normal;
	word-spacing: normal;
	border: 1px #333333 solid;
	background:#E2E000;
	background-color: #CCCCCC;
}

.menutop
{ 
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 13px;
font-style: bold;
font-weight: normal;
color: #000000;
text-decoration: none;
letter-spacing: normal;
word-spacing: normal;
border: 0px #333333 solid;
background-image: url(../images/darkblue.jpg);
}

.menubottom 
{ 
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
font-style: normal;
font-weight: normal;
color: #000000;
text-decoration: none;
letter-spacing: normal;
word-spacing: normal;
border: 0px #333333 solid;
background:#CCCC99;
}


.inputbox1 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	letter-spacing: normal;
	word-spacing: normal;
	border: 1px #333333 solid;
	background:#E2E000;
	background-color: #CCCCCC;
}

.frmfiels2 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	letter-spacing: normal;
	word-spacing: normal;
	border: 1px #000000 solid;
	background:#E2E000;
	background-color: #CCCCCC;
}

.frmfiels3 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	letter-spacing: normal;
	word-spacing: normal;
	border: 1px #000000 solid;
	background:#E2E000;
	background-color: #CCCCCC;
}

.frmfiels4 
{ 
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
font-style: normal;
font-weight: normal;
color: #000000;
text-decoration: none;
letter-spacing: normal;
word-spacing: normal;
border: 1px #000000 solid;
background:#E2E000;
}


.dropdown
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	letter-spacing: normal;
	word-spacing: normal;
	border: 1px #333333 solid;
	background:#E2E000;
	background-color: #CCCCCC;
}





.button
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	background: #74785D;
	border-bottom: 1px solid #898C79;
	border-right: 1px solid #898C79;
	border-left: 1px solid #898C79;
	border-top:1px solid #898C79;
	color:#E2E000;
	font-weight: normal;
	margin-top: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	background-color: #666666;
}

.bttn
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	background: #E2E000;
	border-bottom: 1px solid #898C79;
	border-right: 1px solid #898C79;
	border-left: 1px solid #898C79;
	border-top:1px solid #898C79;
	color:#99FF33;
	font-weight: normal;
	margin-top: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	background-color: #666666;
}


.bg
{
color: #000000;
background-color: #666666;
}

.label 
{
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 11px; 
font-style: normal; 
font-weight: normal; 
color: #000000; 
text-decoration: none; 
letter-spacing: normal; 
word-spacing: normal; 
}

.label1 
{
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 11px; 
font-style: normal; 
font-weight: bold; 
color: #707B32; 
text-decoration: none; 
letter-spacing: normal; 
word-spacing: normal; 
}

.frmlabelswhite 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	letter-spacing: normal;
	word-spacing: normal;
	background-color: #CCCCCC;
	border-top-color: #99CCCC;
	border: 1;
}

.listhead
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	letter-spacing: normal;
	word-spacing: normal;
	border: 1px #333333 solid;
	background:#E2E4D6;
	background-color: #CCCCCC;
}

.listheadcolor
{ 
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 9px;
font-style: normal;
font-weight: normal;
color: #FFCC66;
text-decoration: none;
letter-spacing: normal;
word-spacing: normal;
border: 1px #333333 solid;
background:#E2E000;
}

.frmlabelsblue 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	letter-spacing: normal;
	word-spacing: normal;
	border: 1px #333333 solid;
	background:#E2E000;
	background-color: #99FF99;
}


.rep-head 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	letter-spacing: normal;
	word-spacing: normal;
	border: 1px #333333 solid;
	background:#E2E4D6;
	background-color: #CCCCFF;
}

.formhead
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #99FF99;
	text-decoration: none;
	letter-spacing: normal;
	word-spacing: normal;
	border: 1px #333333 solid;
	background:#E2E000;
	background-color: #999999;
}

.logintable 
{ 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10px; 
color: #000000; 
font-weight: bold; 
padding-left: 9px;

}




.listdata 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	letter-spacing: normal;
	word-spacing: normal;
	border: 1px #333333 solid;
	background:#E2E4D6;
	background-color: #CCCCFF;
	border-top-color: #00FFFF;
}

.rep-txt 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	letter-spacing: normal;
	word-spacing: normal;
	border: 1px #333333 solid;
	background:#E2E4D6;
	background-color: #CCCCFF;
}


.pagehead 
{
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 15px; 
font-style: normal; 
font-weight: bold; 
color: #707B32; 
text-decoration: none; 
letter-spacing: normal; 
word-spacing: normal; 

}


.colorYellow
{
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 13px; 
font-style: normal; 
font-weight: bold; 
color: #FFFFCC; 
text-decoration: none; 
letter-spacing: normal; 
word-spacing: normal; 
}

.colorGreen1
{
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 13px; 
font-style: normal; 
font-weight: bold; 
color: #000000; 
text-decoration: none; 
letter-spacing: normal; 
word-spacing: normal; 
background:#707B32;
border: 1px #333333 solid;


}


.colorRed1
{ 
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 9px;
font-style: normal;
font-weight: bold;
color: #FF0000;
text-decoration: none;
letter-spacing: normal;
word-spacing: normal;
border: 1px #333333 solid;
background:#E2E4D6;
}

.colorRed2
{ 
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 9px;
font-style: normal;
font-weight: normal;
color: #FF0000;
text-decoration: none;
letter-spacing: normal;
word-spacing: normal;
border: 1px #333333 solid;
background:#E2E4D6;
}


.colorRed
{
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 13px; 
font-style: normal; 
font-weight: bold; 
color: #FF0000; 
text-decoration: none; 
letter-spacing: normal; 
word-spacing: normal; 
}


.colorPink 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	letter-spacing: normal;
	word-spacing: normal;
	border: 1px #333333 solid;
	background:#FFCC66;
	background-color: #CCCCCC;
}

.colorRed5
{ 
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 9px;
font-style: normal;
font-weight: bold;
color: #663300;
text-decoration: none;
letter-spacing: normal;
word-spacing: normal;
border: 1px #333333 solid;
background:#FFA953;
}


.frmlabelsyellow 
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
color: #000000;
font-weight: bold ;
padding-left: 3px ;
background-color: #E3D5E8;
}

.frmfielsDIS
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	letter-spacing: normal;
	word-spacing: normal;
	border: 1px #000000 solid;
	background:#999999;
	background-color: #99CCFF;
}

