.date 
{ 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10px; 
color: #FFFFFF; 
font-weight: bold; 
padding-left: 9px;
}

.frmfiels 
{
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 12px; 
font-style: normal; 
font-weight: normal; 
color: #000000; 
text-decoration: none; 
letter-spacing: normal; 
word-spacing: normal; 
border: 1px #000000 solid; 
background:#FFFFFF;
}

.frmlabels 
{  
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 12px; 
color: #000000;
font-weight: bold;
}

.copyright 
{ 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10px; 
color: #666666; 
font-weight: bold; 
}

.date2 
{ 
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
color: #000000;
font-weight: normal; 
}

.message 
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 14px;
color: #003399;
font-weight: bold;
line-height: 22px;
}

.name 
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 14px;
color: #FF0000;
font-weight: bold;
line-height: 22px;
}

.formhead
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 16px;
color: #0090FF;
font-weight: bold;
}

.frmlabels2 
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
color: #000000;
font-weight: bold ;
padding-left: 25px;
}

.frmfiels2 
{ 
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
font-style: normal;
font-weight: normal;
color: #000000;
text-decoration: none;
letter-spacing: normal;
word-spacing: normal;
border: 1px #333333 solid;
background:#F7E4C5;
}

.form-space
{
padding-left: 25px;
background-color: #F5F5F5;
}



.bttn
{ 
font-family:Verdana, Arial, Helvetica, sans-serif; 
font-size:11px; 
background: #AD2F4A; 
border-bottom: 1px solid #0B2140; 
border-right: 1px solid #590C1C; 
border-left: 1px solid #A05364; 
border-top:1px solid #AE495E; 
color:#FFFFFF; 
font-weight: normal; 
margin-top: 2px; 
margin-right: 2px; 
margin-bottom: 2px; 
margin-left: 2px;
padding-top: 2px;
padding-right: 2px;
padding-bottom: 2px;
padding-left: 2px;
}

.rep-head 
{ 
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
color: #FFFFFF;
font-weight: normal;
background-color: #336CC1;
}


.rep-txt 
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
color: #000000;
font-weight: normal;
background-color: #C1DDFF;
}
.frmlabelsblue 
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
color: #000000;
font-weight: bold ;
padding-left: 25px ;
background-color: #C8E6FD;
}
.report-bg1 
{  
color: #000000;
background-color: #6A94CC;
}

.report-bg2
{
color: #000000;
background-color: #FFFFFF;
}

.frmlabelswhite 
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
color: #000000;
font-weight: bold ;
padding-left: 3px ;
background-color: #ffffff;
}

.bg
{
color: #000000;
background-color: #666666;
}

.label 
{
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 12px; 
font-style: normal; 
font-weight: normal; 
color: #000000; 
text-decoration: none; 
letter-spacing: normal; 
word-spacing: normal; 
background:#D5E0DA;
}

.frmlabelsyellow 
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
color: #000000;
font-weight: bold ;
padding-left: 3px ;
background-color: #E9DBDB;
}