a           
{
font-family:Verdana, Arial, Helvetica, sans-serif; 
font-size:11px; 
color:#00369B;
text-decoration: underline; 
font-weight:bold;
}
a:hover      
{
font-family:Verdana, Arial, Helvetica, sans-serif; 
font-size:11px; 
color:#00369B;
text-decoration: underline; 
font-weight:bold;

}
a:visited    
{
font-family:Verdana, Arial, Helvetica, sans-serif; 
font-size:11px; 
color:#00369B;
text-decoration: underline; 
font-weight:bold;

}
a:visited:hover
{
font-family:Verdana, Arial, Helvetica, sans-serif; 
font-size:11px; 
color:#00369B;
text-decoration: underline; 
font-weight:bold;

}

