.employeename {  font-family: Verdana; font-size: 10pt; color: #0F6BB0; text-decoration: none; font-weight: bold}

.headingtext {  font-family: Verdana; font-size: 10pt; color: #000000; text-decoration: none; font-weight: bold}

.maintext {  font-family: Verdana; font-size: 7.5pt; color: #000000}

.backgroundcolor {  background-color: #E9E9E9}

.totalheading {  font-family: Verdana; font-size: 10; font-weight: bold; color: #000000}
